<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>infolio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
	<div id="navbar">
		<div id="logo">
		</div>
	</div>
	<div id="container">
		<div id="logomain">
		</div>
		<div id="tagline">
			<p>Visualize yourself to the world.</p>
		</div>
		<a href="/auth/facebook" id="fblogin"></a>
		<div id="screenshots">
			<div id="screen1">
			  <%= image_tag 'screen1.png' %>
			</div>
			<div id="screen2">
			  <%= image_tag 'screen2.png' %>
			</div>
			<div id="screen3">
			  <%= image_tag 'screen3.png' %>
			</div>
		</div>
		<div id="testimonials">
			<div id="quote">
				<p>"This is exactly what I've been looking for!"</p>
			</div>
			<div id="author">
				<p>An Awesome Infolio User</p>
			</div>
		</div>
	</div>
</body>
</html>