<h1>Twitter#index</h1>
<p>Find me in app/views/twitter/index.html.erb</p>

<%= 
Twitter.search("from:kimmanis", :include_entities=>true, :rpp => 5, :result_type => "recent").map do |status|
  "#{status.text}" 
   end 
   
   %>

