<h1>Twitter#index</h1>
<p>Find me in app/views/twitter/index.html.erb</p>



<p>

<% if current_user.twitter == nil %>
<%= link_to 'Add Twitter Handle', edit_user_path(current_user.id) %>
<% else %>


<%= 
Twitter.search("from:#{current_user.twitter}", :include_entities=>true, :rpp => 5, :result_type => "recent").map do |status|
  "#{status.text}" 
   end 
%>



<p>user id: <%= current_user.id %>
<p>twitter: <%= current_user.twitter %>

<% end %>